 <li>
    <a href="#">
        <div>
            <strong>Jean-Michel</strong>
            <span class="pull-right text-muted">
                <em>Yesterday</em>
            </span>
        </div>
        <div>Puis je avoir une réduction si je suis un client réglier ?</div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="#">
        <div>
            <strong>Isabelle</strong>
            <span class="pull-right text-muted">
                <em>Yesterday</em>
            </span>
        </div>
        <div>Je n'ai toujours pas reçu mon paiement</div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="#">
        <div>
            <strong>Mario</strong>
            <span class="pull-right text-muted">
                <em>Yesterday</em>
            </span>
        </div>
        <div>Bonjour, je n'arrive pas à réserver ma place</div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a class="text-center" href="#">
        <strong>Voir tout les messages</strong>
        <i class="fa fa-angle-right"></i>
    </a>
</li>