<li>
    <a href="#">
        <div>
            <i class="fa fa-comment fa-fw"></i> Nouveau message
            <span class="pull-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="#">
        <div>
            <i class="fa fa-envelope fa-fw"></i> Message envoyé
            <span class="pull-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="#">
        <div>
            <i class="fa fa-tasks fa-fw"></i> Nouvelle tâche
            <span class="pull-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="#">
        <div>
            <i class="fa fa-upload fa-fw"></i> Serveur rebooté
            <span class="pull-right text-muted small">4 month ago</span>
        </div>
    </a>
</li>
<li class="divider"></li>