{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Laisser un avis - {{ parent() }}
{% endblock %}

{% block menu_lateral %}  
    {{ include("CVPlatformBundle:Rating:menu.html.twig") }}  
{% endblock %}

{% block cvplatform_body %}
    <h2>Laisser un avis</h2>

    {% javascripts 'js/jquery.js' %}
   		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}