{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Laisser un avis - {{ parent() }}
{% endblock %}

{% block menu_lateral %}  
    {{ include("CVPlatformBundle:Rating:menu.html.twig") }}  
{% endblock %}

{% block cvplatform_body %}
    <h2>Avis</h2>

	<table id="mytable" class="table table-bordred table-striped">
		<tbody>
			{% include 'CVPlatformBundle:Rating:notification.html.twig' %}
			{% include 'CVPlatformBundle:Rating:notification.html.twig' %}
			{% include 'CVPlatformBundle:Rating:notification.html.twig' %}
			{% include 'CVPlatformBundle:Rating:notification.html.twig' %}
			{% include 'CVPlatformBundle:Rating:notification.html.twig' %}
		</tbody>
	</table>
{% endblock %}
