<ul class="sub-menu nav nav-pills">
    <li class="{% if app.request.attributes.get('_route') == 'cv_platform_ratings_received' %} active{% endif %}">
        <a href="{{ path('cv_platform_ratings_received') }}">Avis reçus</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'cv_platform_ratings_sended' %} active{% endif %}">
        <a href="{{ path('cv_platform_ratings_sended') }}">Avis laissés</a>
    </li>
</ul>