<tr>
	<td class="col-md-8">Description réservation</td>
	<td><button class="btn btn-primary">Laisser un avis</button></td>
	<td><a class=""><img src="{{ asset('icon/delete.png') }}"></img></a></td>
</tr>