<article class="row">
	<div class="col-md-2 col-sm-2 hidden-xs">
		<figure class="thumbnail">
			{{ render(controller('CVPlatformBundle:Rating:picture', {'thumb': 'picture_rating_dialog_medium', 'user': ratingReceived.user})) }} 
			<figcaption class="text-center">{{ ratingReceived.user }}</figcaption>
		</figure>
	</div>
	<div class="col-md-10 col-sm-10">
		<div class="panel panel-default arrow left">
			<div class="panel-body">
			  	<header class="text-left">Le
				    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ ratingReceived.date | date('d/m/Y H:m:s') }}</time> 

				<p style="float: right;">
                Evaluation : 
                {% if ratingReceived.evaluation == 1 %}
                à éviter
                {% elseif ratingReceived.evaluation == 2 %}
                décevant
                {% elseif ratingReceived.evaluation == 3 %}
                bien
                {% elseif ratingReceived.evaluation == 4 %}
                excellent
                {% else %}
                extraordinaire
                {% endif %}
                </p>


			  	</header>
			  	<br>
			  	<div class="comment-post">
				    <p>
				      	{{ ratingReceived.description }}
				    </p>
			  </div>
			</div>
		</div>
	</div>
</article>