<article class="row">
	<div class="col-md-2 col-sm-2 hidden-xs">
		<figure class="thumbnail">
			{{ render(controller('CVPlatformBundle:Rating:picture', {'thumb': 'picture_rating_dialog_medium', 'user': ratingReceived.user})) }} 
			<figcaption class="text-center">{{ ratingReceived.user }}</figcaption>
		</figure>
	</div>
	<div class="col-md-10 col-sm-10">
		<div class="panel panel-default arrow left">
			<div class="panel-body">
			  	<header class="text-left">
				    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ ratingReceived.date | date('d/m/Y H:m:s') }}</time>
			  	</header>
			  	<div class="comment-post">
				    <p>
				      	{{ ratingReceived.description }}
				    </p>
			  </div>
			</div>
		</div>
	</div>
</article>