{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block cvplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("CVPlatformBundle:Ride:form.html.twig") }}

  <p>
    Vous ajouter une annonce.
  </p>

{% endblock %}