<ul class="sub-menu nav nav-pills">
    <li class="{% if app.request.attributes.get('_route') == 'cv_platform_upcoming_rides' %} active{% endif %}">
        <a href="{{ path('cv_platform_upcoming_rides') }}">Trajets à venir</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'cv_platform_past_rides' %} active{% endif %}">
        <a href="{{ path('cv_platform_past_rides') }}">Trajets passés</a>
    </li>
</ul>