<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-search"></span><a href="{{ path('cv_platform_search_rides') }}"> Rechercher des annonces</a>    
            </h4>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-plus"></span><a href="{{ path('cv_platform_add') }}"> Ajouter une annonce</a>    
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-eye-open"></span><a href="{{ path('cv_platform_my_rides') }}"> Mes annonces</a>    
                </h4>
            </div>
        </div>
    {% endif %}
