<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div>Total de messages</div>
                    <div class="huge">{{ totalPublicMessages }}</div>
                </div>
            </div>
        </div>
        <a href="{{ path('cv_platform_public_messages') }}">
            <div class="panel-footer">
                <span class="pull-left">Voir les messages</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div>Total d'avis</div>
                    <div class="huge">{{ totalRatings }}</div>
                </div>
            </div>
        </div>
        <a href="{{ path('cv_platform_ratings') }}">
            <div class="panel-footer">
                <span class="pull-left">Voir les avis</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6" style="opacity: 0.5;">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div>Total de commissions</div>
                    <div class="huge">-</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">Voir les commissions</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6" style="opacity: 0.5;">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div>Total d'incidences</div>
                    <div class="huge">-</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">Voir les incidences</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>