<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-comment"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div class="huge">26</div>
                    <div>Nouveaux messages</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">Voir les messages</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-tasks"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div class="huge">12</div>
                    <div>Nouvelles tâches</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">Voir les tâches</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-euro 5px"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div class="huge">13</div>
                    <div>Nouvelles commissions</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">Voir les commissions</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-euro"></i>
                </div>
                <div class="col-xs-11 text-right">
                    <div class="huge">13</div>
                    <div>Nouvelles incidences</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">Voir les incidences</span>
                <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>