<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}CV Admin{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% stylesheets 
            '@CVAdminBundle/Resources/public/css/admin.css' 
            '@CVAdminBundle/Resources/public/css/morris.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
            </div>
            {% include 'CVAdminBundle::navbar-top.html.twig' %}
            {% include 'CVAdminBundle::navbar-left.html.twig' %}   
        </nav>
        {% block body %}
        {% endblock %}
    </div>
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% javascripts 
            '@CVAdminBundle/Resources/public/js/metisMenu.min.js'
            '@CVAdminBundle/Resources/public/js/raphael-min.js'
            '@CVAdminBundle/Resources/public/js/morris.min.js'
            '@CVAdminBundle/Resources/public/js/morris-data.js'
            '@CVAdminBundle/Resources/public/js/admin.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>