<div class="collapse navbar-collapse" id="navbar-collapse-4">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
            </ul>
        </li>
    </ul>           
</div>