{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
     Ajout d'une voiture | {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
	<div class="container">
        <div class="col-md-3">
            {{ include("CVProfileBundle::menu.html.twig") }}
        </div>
        <div class="col-md-9">
			<h3 class="sub-title">Ajouter une voiture</h3>
            <hr>
			{{ include("CVProfileBundle:Car:form.html.twig") }}
		</div>
	</div>
{% endblock %}