 <div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Statistiques
    </div>
    <div class="panel-body">
        <div id="morris-donut-chart"></div>
        <a href="#" class="btn btn-default btn-block">Voir les détails</a>
    </div>
</div>