{% extends "CVUserBundle::layout.html.twig" %}
{% block body %}
  

  
    <div class="span3">
    <h2>Inscription</h2>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

{{ form_rest(form) }}

    
     <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    <div class="clearfix"></div>

    </form>
</div>



{% endblock %}