{% if profile.image != null %}
	<img class="user-picture" src="{{ profile.image.getWebPath() | imagine_filter(thumb) }}" alt="{{ profile.image.alt }}"/>
{% else %}
	<span class="cv glyphicon glyphicon-user"></span>
{% endif %}