{# src/CV/PlatformBundle/Resources/views/Test/request_profile_user.html.twig #}
{% extends "CVPlatformBundle:Test:test_requests.html.twig" %}

{% block body %}
	<h3>Utilisateur</h3>
	<h4>Voiture utilisateur</h4>
		<div class="well">
	  		{{ form(form) }}
		</div>
	<hr>
	<ul>
  		
	</ul>
		
{% endblock %}
            