<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-edit"></span> Editer profil</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse ">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="{{ path('cv_profile_edit_car', {'id': form.vars.value.id }) }}"> Editer mes voitures</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="{{ path('cv_profile_edit_preference', {'id': form.vars.value.id }) }}"> Editer mes préférences</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-eye-open"></span> Voir mon profil</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-eye-open text-primary"></span><a href="#"> Voir mes voitures</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-eye-open text-primary"></span><a href="#"> Voir mes préférences</a></li>
            </ul>
        </div>
    </div>