<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <i class="fa fa-comment fa-fw"></i> Nouveau message
                <span class="pull-right text-muted small"><em>4 minutes ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-envelope fa-fw"></i> Message envoyé
                <span class="pull-right text-muted small"><em>27 minutes ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-tasks fa-fw"></i> Nouvelle tâche
                <span class="pull-right text-muted small"><em>43 minutes ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-upload fa-fw"></i> Serveur rebooté
                <span class="pull-right text-muted small"><em>11:32 AM</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-bolt fa-fw"></i> Server crash!
                <span class="pull-right text-muted small"><em>11:13 AM</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-warning fa-fw"></i> Server pas de réponse
                <span class="pull-right text-muted small"><em>10:57 AM</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-shopping-cart fa-fw"></i> Nouvelle commission
                <span class="pull-right text-muted small"><em>9:49 AM</em>
                </span>
            </a>
        </div>
        <a href="#" class="btn btn-default btn-block">Voir en détails</a>
    </div>
</div>