<ul class="sub-menu nav nav-pills">
    <li class="{% if app.request.attributes.get('_route') == 'cv_platform_current_reservations' %} active{% endif %}">
        <a href="{{ path('cv_platform_current_reservations') }}">En cours</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'cv_platform_past_reservations' %} active{% endif %}">
        <a href="{{ path('cv_platform_past_reservations') }}">Historique</a>
    </li>
</ul>