{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
  Réserver une annonce - {{ parent() }}
{% endblock %}

{% block cvplatform_body %}

  <h2>Réserver l'annonce</h2>

  <p>
    Etes-vous certain de vouloir réserver cette annonce ?
  </p>

  <form action="{{ path('cv_platform_confirm_booking_ride', {'id': ride.id}) }}" method="post">
    <a href="{{ path('cv_platform_view', {'id': ride.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    <input type="submit" value="Réserver" class="btn btn-default" />
    {{ form_rest(form) }}
  </form>

{% endblock %}