<ol class="messages">
<li>
<p class="entete"><cite>Posté par mario</cite> <span class="commentaire">01/01/2012</span></p>
<div class="corps"><p>Pouvez vous venir me chercher à la gare de Troyes ?</p></div>
</li>
