@charset "iso-8859-1";
* {margin: 0;padding: 0;}
p {padding: 0 0 1em;}
/* message display page */
.messages {list-style: none;margin: 0;padding: 0;width: 800px;}
.messages li {padding: 0;margin: 0;background: url(../img/accordeon/message-bar.gif) no-repeat;}
.entete {padding: 5px 10px;cursor: pointer;position: relative;}
.entete .commentaire {color: #666666;font-size: 95%;position: absolute;right: 10px;top: 5px;}
.entete cite {font-size: 100%;font-weight: bold;font-style: normal;}
.corps {padding: 5px 10px 15px;}
.boutons {text-align: right;border-top: solid 1px #e4e4e4;padding: 5px 0;width: 805px;}
.boutons a {margin-left: 15px;	float: right;}
.voir_tous {background: url(../img/accordeon/tall-down-arrow.gif) no-repeat right center; padding-right: 12px; text-decoration: none; color: #0099FF}
.voir_recent {display: none;background: url(../img/accordeon/tall-up-arrow.gif) no-repeat right center;padding-right: 12px;text-decoration: none; color: #0099FF}
.replier_tous {background: url(../img/accordeon/collapse-all.gif) no-repeat right center;	padding-right: 12px; color: #666666;text-decoration: none}
textarea{resize: vertical;}